<link rel='stylesheet' href='{{ 'component-pagination.css' | asset_url }}' media='print' onload="this.media='all'">
<noscript>{{ 'component-pagination.css' | asset_url | stylesheet_tag }}</noscript>

{% paginate collections['collection2'].products by 8 %}
  <div class='container flex flex-col gap-5'>
    <h2 class='text-4xl text-center font-medium'>
      {{ section.settings.heading }}
    </h2>

    <div class='container flex flex-wrap gap-4 m-auto items-center'>
      {% for product in collections['collection2'].products %}
        <a
          href='{{ product.url }}'
          class='flex flex-col basis-64 shadow-sm rounded-sm hover:scale-105 hover:shadow-md transition-all'
        >
          <img
            src='{{ product.featured_image | img_url: 'medium' }}'
            alt='{{ product.featured_image.alt | escape }}'
          >
          <div class='p-4 flex items-end'>
            <div>
              <h3>{{ product.title }}</h3>
              <p>{{ product.price | money }}</p>
            </div>
            <i class='fa-regular fa-heart hover:text-red-600 hover:scale-110 transition-colors'></i>
          </div>
        </a>
      {% endfor %}
    </div>

    <div class='container m-auto flex gap-5 p-4'>
      {{ paginate | default_pagination }}
    </div>
  </div>
{% endpaginate %}

{% schema %}
{
  "name": "featured-collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Título da Seção",
      "default": "Coleção em Destaque"
    },
    {
      "type": "collection",
      "id": "rafo",
      "label": "Categoria"
    }
  ]
}
{% endschema %}
